<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= title %></title>
	<link rel="stylesheet" href="/<%= [options.rootPath, "public", "css", "index.css"].map(functions.removeLeadingTrailingSlashes).join("/") %>">
</head>
<body>
	<ol>
		<% for (const item of items) { %>
		<a href="<%= item.URL %>">
			<li><%= item.FileName %></li>
		</a>
		<% } %>
	</ol>
	<footer><% if (options.footer !== "") { %>
		<p class="inlineBlock"><%= options.footer %></p><% } %>
		<p class="inlineBlock right">Generated using <a href="https://github.com/rrainn/s3-explorer-static-generator">s3-explorer-static-generator</a></p>
	</footer>
</body>
</html>
